$website-width: 1280px;

$main-color:	#c63536;
$light-color:#f5e9e9;
$medium-color: #ce9495;
$dark-color: #9e2a2b;
$darkest-color: #8a2526;

$comp-color: #335c67;
$comp-light-color: #5b7c85;

$main-bg: url(../assets/main-bg.jpeg);
